<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>

      <li  class="nav-item" *ngIf="!auth.isLoggedIn()">
        <a  routerLink="/login" class="nav-link">Login</a>
      </li>
      <li  class="nav-item" *ngIf="!auth.isLoggedIn()">
        <a  routerLink="/register" class="nav-link">Register</a>
      </li>
      <li class="nav-item" *ngIf="auth.isLoggedIn()">
        <a 
        routerLink="/profile" class="nav-link"> {{ auth.getUserDetails()?.first_name }}</a>
      </li>   
      <li    class="nav-item" *ngIf="auth.isLoggedIn()">
        <a  (click)="auth.logout()" routerLink="" class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>